:root {
    --branding-color: rgb(246, 234, 204);
    --main-font-family: "Playfair";
}


h1 {  text-align: center;
background-color: var(--branding-color);
font-size: 60px;
}

h1,
h2 {
  
    font-family: var(--main-font-family);
    font-weight: bold;
  
}

.hero {
 background-color: var(--branding-color);
    padding: 50px 20px;
    
}
.hero p {
    text-align: center;
    
}

.button-primary {
display: block;
justify-content: flex-end;
    background-color: var(--branding-color);
    border-color:var(--branding-color) ;
    color: black;
    border-radius: 4px;
    font-size: 18px;
    padding: 18px;
    margin-bottom: 0;

}

.card-text {
    font-family: var(--main-font-family);
    font-weight: 400;
   
}


.text-body-secondary {
    font-family: var(--main-font-family);
    font-weight: 400;
}

@media (max-width: 900px) {
    .hero {
        padding: auto;
    }
    
}